body {
    background-image: linear-gradient(
        rgba(196, 196, 196, 0.7),
        rgba(196, 196, 196, 0.7)
      ), url("/src/images/pastel-purple-flowers.avif");
}

h1 {
    color: #000;
    text-align: center;
}

footer {
    text-align: center;
}

.special-text {
    color: #7e22ce;
    text-decoration: none;
}