:root {
  --primary-color: #7e22ce; /* for emphasis */
  --secondary-color: #c084fc;
  --box-shadow: 0px 20px 6px rgba(65, 50, 100 0.08);
}

body {
  background-image: linear-gradient(
      rgba(196, 196, 196, 0.7),
      rgba(196, 196, 196, 0.7)
    ),
    url("/src/images/pastel-purple-flowers.avif");
}

.container {
  margin: 60px auto;
  max-width: 600px;
}

h1 {
  color: #000;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 0;
  text-align: center;
}

p {
  margin-top: 0;
  text-align: center;
}

main {
  margin: 30px 0;
}

form {
  background-color: #ffffffd4;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  margin-bottom: 30px;
  padding: 30px;
}

footer {
  font-size: 13px;
  text-align: center;
}

.special-text {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

.prompt {
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
  width: 80%;
}

.submit-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
  padding: 14px 24px;
}

.poem-container {
  background-color: #ffffffd4;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  font-size: 14px;
  line-height: 2;
  padding: 20px;
}

#poem {
  border-left: 3px solid var(--primary-color);
  padding: 5px 20px;
}
